<%- if controller_name != 'sessions' %>
  <%= link_to I18n.t("views.devise.shared.links.log_in", default: "Log in"), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to I18n.t("views.devise.shared.links.sign_up", default: "Sign up"), new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to I18n.t("views.devise.shared.links.forgot_password",
                     default: "Forgot your password?"
                    ), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to I18n.t("views.devise.shared.links.no_confirmation",
                     default: "Didn't receive confirmation instructions?"
                    ), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to I18n.t("views.devise.shared.links.no_unlock",
                     default: "Didn't receive unlock instructions?"
                    ), new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to I18n.t("views.devise.shared.links.sign_in_with",
                       provider: OmniAuth::Utils.camelize(provider),
                       default: "Sign in with #{OmniAuth::Utils.camelize(provider)}"
                      ), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
