<div class="row">
  <%= form_for(resource,
               as: resource_name,
               url: session_path(resource_name),
               html: {
                 class: 'col s12 m6 offset-m3 l4 offset-l4'
               }
              ) do |f| %>

    <div class="card">
      <div class="card-content">
        <h2 class="card-title">
          <%= I18n.t('views.devise.sessions.new.title', default: 'Log in') %>
        </h2>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions center-align">
          <%= f.submit(I18n.t('views.devise.shared.links.log_in', default: "Log in"),
                       class: "btn waves-effect") %><br>
          <hr>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
