<h2>Acerca de nuestra aplicacion</h2>

<p>
  RAODA es una página web diseñada para niños con trastorno por déficit de
  atención (TDA) que pretende ser una herramienta complementaria para sus
  estudios de nivel primaria. La finalidad de esta herramienta, es la de
  facilitar un entrenamiento cognitivo regular de manera diaria y con un
  componente lúdico que facilite la adherencia y mejore la motivación en los
  niños. Buscando favorecer el aprendizaje en las áreas de desarrollo como:
</p>

<div class="row">
  <div class="col s12 m4 promo">
  	<div class="center-align">
  		<i class="material-icons center-align large">lightbulb_outline</i>

      <h4>Área Cognitiva</h4>
  	</div>

    <ul class="light browser-default">
      <li>Memoria</li>
      <li>Atención</li>
      <li>Cognición</li>
      <li>Procesamiento</li>
      <li>Lógico</li>
    </ul>
  </div>

  <div class="col s12 m4 promo">
  	<div class="center-align">
  		<i class="material-icons center-align large">people_outline</i>

      <h4>Área Social</h4>
  	</div>

    <ul class="light browser-default">
      <li>Competencia</li>
      <li>Resuelve conflictos</li>
    </ul>
  </div>

  <div class="col s12 m4 promo">
  	<div class="center-align">
  		<i class="material-icons center-align large">touch_app</i>

      <h4>Área Sensorial</h4>
  	</div>

    <ul class="light browser-default">
      <li>Sentidos</li>
      <li>Percepción</li>
    </ul>
  </div>
</div>
