<section class="ejercicio">
  <p>
    Desbloquea el juego sacando al menos <b>80 puntos</b>!
    Hasta ahora tienes {{ score }} puntos
  </p>

  <div class="row">
    <ul class="tabs tabs-fixed-width center-align">
      <li class="tab">
        <a href="#matematicas">
          <i class="material-icons tiny">mode_edit</i> |
          Matemáticas
        </a>
      </li>
      <li class="tab">
        <a href="#espanol">
          <i class="material-icons tiny">spellcheck</i> |
          Español
        </a>
      </li>
      <li class="tab" :class="{ 'disabled': score < 80 }">
        <a href="#juego">
          <i class="material-icons tiny">toys</i> |
          Juego
        </a>
      </li>
    </ul>
  </div>

  <article class="exercise-tab" id="matematicas">
    <h2>Ejercicios de Matemáticas</h2>

    <form name="math" @submit.prevent="check">
      <div v-for="(q, i) in mathQuestions" class="question math-question">
        <p v-html="q.text"></p>

        <div class="math-question" v-if="q.type == 'math'">
          <input
            type="text"
            @change="setQuestionAnswer(q, $event.target.value)"
          >
        </div>

        <p
          v-if="q.type == 'options' && q.options.length"
          v-for="(o, j) in q.options"
          class="options-question"
        >
          <input
            type="radio"
            :value="o"
            :name="'math_' + i"
            :id="'math_' + i + '_' + j"
            @change="setQuestionAnswer(q, $event.target.value)"
          >

          <label :for="'math_' + i + '_' + j">
            {{ o }}
          </label>
        </p>
      </div>
    </form>
  </article>

  <article class="exercise-tab" id="espanol">
    <h2>Ejercicios de Español</h2>

    <form name="spanish" @submit.prevent="check">
      <div v-for="(q, i) in spanishQuestions" class="question spanish-question">
        <p v-html="q.text"></p>

        <p
          v-if="q.type == 'options' && q.options.length"
          v-for="(o, j) in q.options"
          class="options-question"
        >
          <input
            type="radio"
            :value="o"
            :name="'spanish_' + i"
            :id="'spanish_' + i + '_' + j"
            @change="setQuestionAnswer(q, $event.target.value)"
          >

          <label :for="'spanish_' + i + '_' + j">
            {{ o }}
          </label>
        </p>
      </div>
    </form>
  </article>

  <article class="exercise-tab" id="juego">
    <h2>Juego</h2>

    <match-pairs
      :set="matchImages"
      :are-images="true"
      start-text="Empezar"
      reset-text="Reiniciar"
    ></match-pairs>
  </article>

  <aside class="actions center-align">
      <button type="button" class="btn waves-effect waves-light" @click="check">
        Calificar
      </button>
  </aside>
</section>
