<p id="notice"><%%= notice %></p>

<h1><%= plural_table_name.titleize %></h1>

<p class="right-align">
  <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path, class: 'waves-effect waves-light btn' %>
</p>

<div class="row">
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <div class="col s12 m6">
    <div class="card small sticky-action">
      <div class="card-content">
        <ul>
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
          <li><strong><%= attribute.human_name %></strong>: <%%= <%= singular_table_name %>.<%= attribute.name %> %></li>
  <% end -%>
        </ul>
      </div>

      <div class="card-action">
        <%%= link_to 'Show', <%= singular_table_name %> %>
        <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
        <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  <%% end %>
</div>
