//= require material_icons 

@import 'materialize/components/color';
$primary-color: color('purple', 'darken-1');
$secondary-color: color('green', 'accent-3'); 

@import 'materialize';
@import 'vue-match-pairs';

.brand-logo {
	padding: 0.5rem !important;
}

.question {
	margin: 3rem 0;
	padding-bottom: 1.5rem;
	border-bottom: 1px dotted #aaa;
}

.actions {
	margin-top: 1rem;
}

.ejercicio {
	margin: 2rem 0;
}

#error_explanation {
	@extend .card, .red, .white-text;
	padding: 0.5rem 1rem;

	h2 { font-size: large; }
}

/* About page */
.promo {
	ul {
		padding-left: 4rem;
	}
}
