.match-pairs {
	display: flex;
	flex-flow: row wrap;

	.match-pairs-start, .match-pairs-reset {
		@extend .btn;
		margin: 1rem;
		order: 1;
	}
	
    .match-pairs-board {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
		order: 2;

        position: relative;
        perspective: 800px;
    }

    .match-pairs-blocker {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(191, 191, 191, 0.7);
    }

    .match-pairs-card {
		text-align: center;
        cursor: pointer;
		margin: 1rem;

		img {
			max-width: 200px;
			max-height: 200px;
		}

		&.active {
			.front {z-index: 1; }
			.back { z-index: 2; }
		}
    }

    .cube {
        display: block;
        position: relative;
        height: 200px;
        width: 200px;
		border: 1px solid #AAA;
		border-radius: 4px;

        transform-style: preserve-3d;
        transition: 500ms linear;
        transform: rotateY(0deg); 

        &.active {
            transform: rotateY(180deg);
        }
    }

    .front, .back {
        position: absolute;
        width: 100%;
        top: 50%;

        backface-visibility: hidden;
    }

    .front {
        z-index: 2;
        transform: translate(0, -50%);
    }
    .back {
        z-index: 1;
        transform: translate(0, -50%) rotateY(180deg);
    }
}
