<!DOCTYPE html>
<html>
  <head>
    <title>TemplateProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">
          <%= image_tag 'logo_green.png', width: '150px', height: '40px' %>
        </a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/about">Acerca de</a></li>
          <%= render 'partials/login_items' %>
        </ul>
      </div>
    </nav>

    <div id="ihc" class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
window.addEventListener('DOMContentLoaded', function(ev) {
  Materialize.toast('<%= notice %>', 5000);
  Materialize.toast('<%= alert %>', 10000);
});
    </script>
  </body>
</html>
