<div class="row">
  <div class="col s8 offset-s2">
    <%= devise_error_messages! %>
  </div>
</div>

<div class="row">
  <%= form_for(resource,
                as: resource_name,
                url: registration_path(resource_name),
                html: {
                  class: 'col s12 m6 offset-m3 l4 offset-l4'
                }
              ) do |f| %>
    <div class="card">
      <div class="card-content">
        <h2 class="card-title">
          <%= I18n.t('views.devise.registrations.new.title', default: 'Sign up') %>
        </h2>

        <p class="right-align">
          <%= link_to "Inicia sesión", new_session_path(resource_name) %>
        </p>

        <div class="field">
          <%= f.label :name, 'Nombre' %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, 'Contraseña' %>
          <% if @minimum_password_length %>
          <em>(mínimo <%= @minimum_password_length %> caractéres)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'Confirmación de contraseña' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="actions center-align card-action">
        <%= f.submit "Regístrate", class: 'btn waves-effect' %>
      </div>
    </div>
  <% end %>
</div>
